.help-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.help-footer {
    justify-content: space-between;
    column-gap: 1rem;
    width: 96%;
    margin-left: 2%;
}

.exit-help-button,
.help-nav-page-button {
    fill: var(--button-color);
}

.help-main {
    padding: 2rem;
    font-size: 1.75rem;
    text-align: justify;
}

.help-image {
    width: auto;
    max-height: 165px;
    align-self: center;
    margin: 1rem 0;
}

.help-images {
    margin: 0.75rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}

.help-images>img {
    max-height: 160px;
    height: auto;
    max-width: 45%;
    margin: 0 1rem;
}

.help-gif {
    height: 167px;
    width: auto;
    margin: 1rem auto;
}